[Unit]
Description=mc

[Service]
KillMode=none
SuccessExitStatus=0 1
Restart=on-failure
WorkingDirectory=/home/mc/server/current
ExecStart=/usr/bin/java -Xmx1024M -Xms512M -jar server.jar nogui
ExecStop=/home/mc/bin/mcsendconsole stop

[Install]
WantedBy=default.target

