[Unit]
Description=mc

[Service]
KillMode=none
SuccessExitStatus=0 1
Restart=on-failure
WorkingDirectory=/home/mc/server/current
ExecStart=/home/mc/bin/mcstartjava
ExecStop=/home/mc/bin/mcstopwait $MAINPID

[Install]
WantedBy=default.target

